USE [master]
GO
/****** Object:  Database [GosAutoInspectionBD]    Script Date: 07.02.2022 12:30:52 ******/
CREATE DATABASE [GosAutoInspectionBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GosAutoInspectionBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GosAutoInspectionBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GosAutoInspectionBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GosAutoInspectionBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GosAutoInspectionBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GosAutoInspectionBD]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 07.02.2022 12:30:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[GUID] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ThirdName] [nvarchar](50) NOT NULL,
	[PassNum] [nvarchar](50) NOT NULL,
	[RegAdress] [nvarchar](50) NOT NULL,
	[LifeAdress] [nvarchar](50) NOT NULL,
	[Company] [nvarchar](50) NOT NULL,
	[JobName] [nvarchar](50) NOT NULL,
	[PhoneNum] [nvarchar](25) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Photo] [nvarchar](max) NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_Drivers] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLogin]    Script Date: 07.02.2022 12:30:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NULL,
	[Role] [nvarchar](50) NULL,
 CONSTRAINT [PK_UserLogin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Drivers] ON 

INSERT [dbo].[Drivers] ([GUID], [Surname], [Name], [ThirdName], [PassNum], [RegAdress], [LifeAdress], [Company], [JobName], [PhoneNum], [Email], [Photo], [Description]) VALUES (1, N'Alonso', N'Hopkins', N'Caleb', N'2303160716', N'760832,452 Cobblestone St.', N'477 Southampton Avenue', N'Global Gillette', N'Reporter', N'+7(970)383-8933', N'skippy@icloud.com', N'001-happy-18.png', NULL)
INSERT [dbo].[Drivers] ([GUID], [Surname], [Name], [ThirdName], [PassNum], [RegAdress], [LifeAdress], [Company], [JobName], [PhoneNum], [Email], [Photo], [Description]) VALUES (2, N'Kaydence', N'Sellers', N'Susannah', N'5563160745', N'807042,Hyattsville, MD 20782', N'Men asha, WI 5495 2', N'Coca-Cola', N'Elementary School Teacher', N'+7(867)708-4447', N'isotopian@sbcglobal.net', N'002-cool-5.png', NULL)
INSERT [dbo].[Drivers] ([GUID], [Surname], [Name], [ThirdName], [PassNum], [RegAdress], [LifeAdress], [Company], [JobName], [PhoneNum], [Email], [Photo], [Description]) VALUES (3, N'Finnegan', N'Bray', N'Brighton', N'3719717453', N'83282,9648 Philmont Lane', N'966 8 Glendale Co urt', N'Harley-Davidson Motor Company', N'Childcare worker', N'+7(221)428-7850', N'isaacson@att.net', N'003-happy-17.png', NULL)
GO
SET IDENTITY_INSERT [dbo].[Drivers] OFF
GO
SET IDENTITY_INSERT [dbo].[UserLogin] ON 

INSERT [dbo].[UserLogin] ([ID], [Login], [Password], [Role]) VALUES (1, N'Inspector', N'Inspector', N'Inspector')
SET IDENTITY_INSERT [dbo].[UserLogin] OFF
GO
USE [master]
GO
